#baba{
    width: 20%;

}
#Username{
    width: 100%;
}
#Password{
    width: 100%;
    
}
#nob{
    width: 18%;
}

@media only screen and (max-width: 700px) {
    #maincontent{
		width: auto;
		float: none;
	}
	#sidebar{
		width: auto;
		float: none;
    }
    #baba{
        width: 50%;
    }
    #nob{
        width: 20%;
    }

}

body{
    padding-top: 170px; 
    font-family: sans-serif;
}

.Login{
	font-family:'Segoe UI';
}

.Daftar{
    width: 300px;
    height: 240px;
    background: black;
    border: 5px solid rgba(255, 255, 255);
    margin:auto;
    padding: 20px;
    float: center;
    border-radius: 30px;
}
