@media screen and (min-width:500px) and (max-widht:600px){
    #maincontent{
		width: auto;
		float: none;
	}
	#sidebar{
		width: auto;
		float: none;
	}
}
body{
    padding-top: 170px; 
    background-image: url(assets/img/Login.JPG);
    background-size: cover;
    font-family: sans-serif;
}

.Login{
	font-family:'Segoe UI';
}

.Daftar{
    width: 300px;
    height: 240px;
    background: black;
    border: 5px solid rgba(255, 255, 255);
    padding: 20px;
    float: center;
    border-radius: 30px;
}
