* {
    margin:0px;
    padding:0px;
}

.container{width: 1px; margin:auto;}
th{padding: 0px; background-color: orange; color:white; font-family: calibri}
td{text-align: center; background-color: #fbf7f7}
#red{color:red;}
h1{text-align: center; font-family: calibri}

.left    { text-align: left;}
.right   { text-align: right;}
.center  { text-align: center;}
.justify { text-align: justify;}

.element {
    position: absolute;
    right: 0;
    top: 85px;
    width: 200px;
    border: 6px solid #000;
    background-color: #fbf7f7;
}

.font{
    font-family: 'Trebuchet MS';
    font-style: italic;
    }

.biru {
    background-color:#192E75;
    
}

.aquamarine {
    background-color: aquamarine;
    height: 30px;
}


.Daftar{
    width: 60px;
    height: 20px;
    background: white;
    border: 4px solid rgb(100, 93, 93);
    padding: 20px;
    border-radius: 100px;
    text-align: center;
    position : absolute;
    margin-left: -665px;
    margin-top: 98px;
    z-index: 1;
}

.Daftar1{
    width: 60px;
    height: 20px;
    background: white;
    border: 4px solid rgb(100, 93, 93);
    padding: 20px;
    border-radius: 100px;
    text-align: center;
    position : absolute;
    margin-left: -526px;
    margin-top: -111px;
    z-index: 1;
}

.Daftar2{
    width: 60px;
    height: 20px;
    background: white;
    border: 4px solid rgb(100, 93, 93);
    padding: 20px;
    border-radius: 100px;
    text-align: center;
    position : absolute;
    margin-left: -382px;
    margin-top: -36px;
    z-index: 1;
}

.Daftar3{
    width: 60px;
    height: 20px;
    background: white;
    border: 4px solid rgb(100, 93, 93);
    padding: 20px;
    border-radius: 100px;
    text-align: center;
    position : absolute;
    margin-left: -148px;
    margin-top: -170px;
    z-index: 1;
}

.text1{
    float: left;
    margin: 0px;
    text-align: end;
    margin-right: 10px;
    margin-top: -5px;
}
.text2{
    float: right;
    margin-top: -5px;
}

.nav{
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
}
.kiri{
    float: left;
    margin:-170px;
    margin-top: -280px;
    position: absolute;
}

.tulisan{
	font-family:'Segoe UI';
}

.garis{
    margin-top: -20px;
}
