  * {
        margin:0px;
        padding:0px;
    }
    body {
    background-image:url(Image/wallpaper.jpg); 
    }

    .container{width: 1px; margin:auto;}
    th{padding: 0px; background-color: orange; color:white; font-family: calibri}
    td{text-align: center; background-color: #fbf7f7}
    #red{color:red;}
    h1{text-align: center; font-family: calibri}

    .left    { text-align: left;}
    .right   { text-align: right;}
    .center  { text-align: center;}
    .justify { text-align: justify;}
 
    .element {
        position: absolute;
        right: 0;
        top: 100px;
        width: 200px;
        border: 6px solid #000;
        background-color: #fbf7f7;
    }
    
    .biru {
        background-color: blue;
        
    }
    .warna {
        background-color: rgb(253, 253, 255);
        
    }

    .aquamarine {
        background-color: aquamarine;
    }

    .font{
    font-family: 'Trebuchet MS',cursive;
    font-style: italic;
    }

    .Daftar{
    width: 60px;
    height: 20px;
    background: white;
    border: 4px solid rgb(100, 93, 93);
    padding: 20px;
    float: center;
    border-radius: 100px;
    text-align: center
    }
